<!-- Used by theme-projects-builtin-1a, entire card is the link. -->


<a class="card" style="background-color:#2F3136;" href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">
  {% if include.page.image %}
  <div class="image">
    <img src="{{ site.baseurl }}/{{ include.page.image }}">
  </div>
  {% endif %}
  <div class="content">
    <span class="header" style="color:#DCD0CF;">{{ include.page.title }}</span>
    <div class="meta">
      <span class="date" style="color:#DCD0CF;">{{ include.page.date  | date: '%B %Y'}}</span>
    </div>

    <div class="description" style="color:#DCD0CF;">
      {{ include.page.summary }}
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>

</a>
